<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="AboutUs.css" />
    <link rel="stylesheet" href="Style.css" />
</head>

<body>
    {{>header}}
    <div class="navbar" id="navbar1">
            <ul class="menuitem">

                <li class="lst-item" id="lst1-item"><a href="/">Home</a></li>
                <li class="lst-item" id="lst-item"><a href="/courses" onclick="clickcourses()" onclick="clickon()">Courses &nbsp <i class="fa fa-caret-down" id="in"></i></a>
                 
                </li>
                <li class="lst-item" id="ls-item"><a href="/job-portal">Jobs &nbsp<i class="fa fa-caret-down"></i></a>
                   
                </li>
                <li class="lst-item"><a href="/about">About</a></li>
                <li class="lst-item"><a href="/contact">Contact</a></li>
            </ul>
        </div>



    <!-- Banner -->
    {{!-- <section id="banner">
        <div class="inner">
            
        </div>
    </section> --}}
    <div class="HeadTemplate">
        <img src="img/aboutUsPageTemplate.png" alt="">

    </div>

    <!-- Main -->
    <div id="main">

        <!-- Section -->
        <section class="wrapper style1">
            <div class="inner">
                <!-- 2 Columns -->
                <div class="flex flex-2">
                    <div class="col col1">
                        <div class="image round fit">
                            <a href="generic.html" class="link"><img src="img/pic01.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col col2">
                        <h3>Our Story</h3>
                        <p>Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque
                            fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
                        <p>Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue.
                            Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex. </p>
                        <a href="#" class="button">Explor More</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section -->
        <section class="wrapper style1">
            <div class="inner">
                <header class="align-center">
                    <h2>Our Team</h2>
                    <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                </header>
                <div class="flex flex-3">
                    <div class="col align-center">
                        <div class="image round fit">
                            <img src="img/pic03.jpg" alt="" />
                        </div>
                        <h4 class="name">name-1</h4>
                        <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                    </div>
                    <div class="col align-center">
                        <div class="image round fit">
                            <img src="img/pic05.jpg" alt="" />
                        </div>
                        <h4 class="name">name-2</h4>
                        <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                      
                    </div>
                    <div class="col align-center">
                        <div class="image round fit">
                            <img src="img/pic04.jpg" alt="" />
                        </div>
                        <h4 class="name">name-3</h4>
                        <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                     
                    </div>
                    <div class="col align-center">
                        <div class="image round fit">
                            <img src="img/pic05.jpg" alt="" />
                        </div>
                        <h4 class="name">name-4</h4>
                        <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
                        
                    </div>
                </div>
            </div>
        </section>

    </div>

            <svg class="wave" id="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path  d="M0,160L34.3,165.3C68.6,171,137,181,206,208C274.3,235,343,277,411,277.3C480,277,549,235,617,229.3C685.7,224,754,256,823,229.3C891.4,203,960,117,1029,112C1097.1,107,1166,181,1234,197.3C1302.9,213,1371,171,1406,149.3L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
            <footer id="footer">
                <div class=" footerbox footer-part-1" id="footer-part1">
                    <img src="img/logo.png" alt="comcod">
                    <h3>About</h3>
                    <p>Muzaffarnagar<br> (UP).India</p>
                    <div id="footer-part1">
                        <h3>Contact us</h3>
                        <p>XXXXXXXXXXX</p>
                        <p>comcod@gmail.com</p>
                    </div>
                </div>
                <div class="footerbox footer-part-2" id="footer-part2">
                    <h3>Services</h3>
                    <ul class="footer-list" id="footer-list">

                        <li class="footer-item"><a href="#">All Courses</a></li>
                        <li class="footer-item"><a href="#">Gaverment jobs</a></li>
                        <li class="footer-item"><a href="#">Privat Jobs</a></li>
                        <li class="footer-item"><a href="#">PDF Notes</a></li>
                        <li class="footer-item"><a href="#">Course Copens</a></li>
                    </ul>
                </div>
                <div class="footerbox footer-part-3" id="footer-part3">
                    <h3>HelpFul Links</h3>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="#">Supports</a></li>
                        <li class="footer-item"><a href="#">Licence</a></li>
                        <li class="footer-item"><a href="#">Term & Conditions</a></li>
                        <li class="footer-item"><a href="#">Privacy Poilcy</a></li>
                    </ul>
                </div>
                <div class="footerbox footer-part-4" id="footer-part4">

                    <ul class="footer-list">
                        <li class="footer-item"><a href="#">Search more information</a></li>
                        <input type="Entry" placeholder="Input Search" style="font-size:1vw">
                        <button style="font-size:1vw">Search</button>
                    </ul>
                </div>

            </footer>
            <div class="copy">
                <p style="font-size:1vw">Copyright &copy; 2020. All Right Reserved by ComCod</p>
            </div>
        </div>
    </div>
    <!--Container-close-->        
    </body>
<script src="script.js"></script>
</html>