<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Learn C Programming Language Tutorial - comcod</title>
    <link rel="SHORTCUT ICON" href="https://static.comcod.com/images/favicon2.png" />
    <link rel="stylesheet" type="text/css" href="Courses_page.css" />
    <link rel="stylesheet" href="style.css">
    <link rel="dns-prefetch" href="https://www.google.com">
    <!-- <meta name="theme-color" content="#4CAF50" /> -->
</head>
 
<body onload="highlightlink()">
    <button onclick="topFunction()" id="myBtn" title="Go to top">&#8679;</button>
    <div id="page" style="margin:-8px;background-color:#f5f5f4;">
        <div id="container">
            {{>header}}
            <div class="headermobile">
                <div style="margin-top:10px;padding:0px;text-align:left;">
                    <span style="float:left">
                            <input type="image" src="#" alt="Go To Top" onclick="showmenu()"/>
                        </span>
                    <span style="float:left">
                            <a href="#">
                                <img src="logo" alt="comcod Logo">
                            </a>
                        </span>
                </div>
                <div style="margin:0px;padding:0px;clear:both">

                    <gcse:search></gcse:search>
                    <form class="navbar-search-m" method="get" action="https://www.google.com/search" target="_blank"> <input type="text" name="q" class="search-query span2-m" placeholder="Search on comcod..." title="Search on comcod" /><input type="hidden" name="sitesearch" value="www.comcod.com" /></form>
                </div>
            </div>
            <div id="link" style="clear:both">
                <div class="ddsmoothmenu">
                    <ul>
                        <li>
                            <a>SYLLABUS</a>
                        </li>
                        <li>
                            <a class="selected">Unit:1 ></a>
                        </li>
                        <li>
                            <a href="#">Unit:2 ></a>
                        </li>
                        <li>
                            <a href="#">Unit:3 ></a>
                        </li>
                        <li>
                            <a href="#">Unit:4 ></a>
                        </li>
                        <li>
                            <a href="#">Unit:5 ></a>
                        </li>
                        <li>
                            <a href="#">Unit:6 ></a>
                        </li>
                        <li>
                            <a href="#">Unit:7 ></a>
                        </li>
                        <li>
                            <a href="#">Unit:8 ></a>
                        </li>
                        <li>
                            <a href="#">Unit:9 ></a>
                        </li>
                        <li>
                            <a href="#">Unit:10</a>
                        </li>

                    </ul>
                    <br style="clear: left" />
                </div>
            </div>

            <div id="menu">
                <a target="_blank" href="#" class="training">{{target}}</a>
                <div class="leftmenu2">
                    <h2 class="spanh2">
                        <span class="spanh2">C Tutorial</span>
                    </h2>
                </div>
                <div class="leftmenu">
                    <a href="#">{{course}}</a>
                    <a href="#">{{His_cou}} </a>
                    <a href="#">Features of C</a>
                    <a href="#">How to install C</a>
                    <a href="#">First C Program</a>
                    <a href="#">Compilation Process in C</a>
                    <a href="#">printf scanf</a>
                    <a href="#">Variables in C</a>
                    <a href="#">Data Types in c</a>
                    <a href="#">Keywords in c</a>
                    <a href="#">C Identifiers</a>
                    <a href="#">C Operators</a>
                    <a href="#">C Comments</a>
                    <a href="#">C Format Specifier</a>
                    <a href="#">C Escape Sequence</a>
                    <a href="#">ASCII value in C</a>
                    <a href="#">Constants in C</a>
                    <a href="#">Literals in C</a>
                    <a href="#">Tokens in C</a>
                    <a href="#">C Boolean</a>
                    <a href="#">Static in C</a>
                    <a href="#">Programming Errors in C</a>
                    <a href="#">Compile time vs Runtime</a>
                    <a href="#">Conditional Operator in C</a>
                    <a href="#">Bitwise Operator in C</a>
                    <a href="#">2s complement in C</a>
                    <a href="#">
                        <span>C Fundamental Test</span>
                    </a>
                </div>
                <div class="leftmenu2">
                    <h2 class="spanh2">
                        <span class="spanh2">C Control Statements</span>
                    </h2>
                </div>
                <div class="leftmenu">
                    <a href="#">C if-else</a>
                    <a href="#">C switch</a>
                    <a href="#">if-else vs switch</a>
                    <a href="#">C Loops</a>
                    <a href="#">C do-while loop</a>
                    <a href="#">C while loop</a>
                    <a href="#">C for loop</a>
                    <a href="#">Nested Loops in C</a>
                    <a href="#">Infinite Loop in C</a>
                    <a href="#">C break</a>
                    <a href="#">C continue</a>
                    <a href="#">C goto</a>
                    <a href="#">Type Casting</a>
                    <a href="#">
                        <span>C Control Statement Test</span>
                    </a>
                </div>
                <div class="leftmenu2">
                    <h2 class="spanh2">
                        <span class="spanh2">C Functions</span>
                    </h2>
                </div>
                <div class="leftmenu">
                    <a href="#">What is function</a>
                    <a href="#">Call: Value &amp;Reference</a>
                    <a href="#">Recursion in c</a>
                    <a href="#">Storage Classes</a>
                    <a href="#">
                        <span>C Functions Test</span>
                    </a>
                </div>
                <div class="leftmenu2">
                    <h2 class="spanh2">
                        <span class="spanh2">C Array</span>
                    </h2>
                </div>
                <div class="leftmenu">
                    <a href="c-array">1-D Array</a>
                    <a href="#">2-D Array</a>
                    <a href="#">Return an Array in C</a>
                    <a href="#">Array to Function</a>
                    <a href="#">
                        <span>C Array Test</span>
                    </a>
                </div>
                <div class="leftmenu2">
                    <h2 class="spanh2">
                        <span class="spanh2">C Pointers</span>
                    </h2>
                </div>
                <div class="leftmenu">
                    <a href="#">
                        <span>C Pointers</span>
                    </a>
                    <a href="#">
                        <span>C Pointer to Pointer</span>
                    </a>
                    <a href="#">
                        <span>C Pointer Arithmetic</span>
                    </a>
                    <a href="#">Dangling Pointers in C</a>
                    <a href="#">sizeof() operator in C</a>
                    <a href="#">const Pointer in C</a>
                    <a href="#">void pointer in C</a>
                    <a href="#">C Dereference Pointer</a>
                    <a href="#">Null Pointer in C</a>
                    <a href="#">C Function Pointer</a>
                    <a href="#">Function pointer as argument in C</a>
                    <a href="#">
                        <span>C Pointers Test</span>
                    </a>
                </div>
                <img src="https://www.comcod.com/wh.JPG" alt="comcod" />
                <br/>
                <div id="leftad" style="margin-left:20px">
                    <!-- comcodleft -->
                    <ins class="adPushupAds" data-adpControl="g8drp" data-ver="2" data-siteId="37780" data-ac="PHNjcmlwdCBhc3luYyBzcmM9Ii8vcGFnZWFkMi5nb29nbGVzeW5kaWNhdGlvbi5jb20vcGFnZWFkL2pzL2Fkc2J5Z29vZ2xlLmpzIj48L3NjcmlwdD4KPCEtLSBqYXZhdHBvaW50bGVmdCAtLT4KPGlucyBjbGFzcz0iYWRzYnlnb29nbGUiCiAgICAgc3R5bGU9ImRpc3BsYXk6aW5saW5lLWJsb2NrO3dpZHRoOjE2MHB4O2hlaWdodDo2MDBweCIKICAgICBkYXRhLWFkLWNsaWVudD0iY2EtcHViLTQ2OTk4NTg1NDkwMjMzODIiCiAgICAgZGF0YS1hZC1zbG90PSI0NDc2NDAxMjIyIj48L2lucz4KPHNjcmlwdD4KKGFkc2J5Z29vZ2xlID0gd2luZG93LmFkc2J5Z29vZ2xlIHx8IFtdKS5wdXNoKHt9KTsKPC9zY3JpcHQ+"></ins>
                    <script data-cfasync="false" type="text/javascript">
                        (function(w, d) {
                            for (var i = 0, j = d.getElementsByTagName("ins"), k = j[i]; i < j.length; k = j[++i]) {
                                if (k.className == "adPushupAds" && k.getAttribute("data-push") != "1") {
                                    ((w.adpushup = w.adpushup || {}).control = (w.adpushup.control || [])).push(k);
                                    k.setAttribute("data-push", "1");
                                }
                            }
                        })(window, document);
                    </script>
                </div>
            </div>
            <div class="onlycontent">
                <div class="onlycontentad">
                    <!-- CM_JTP_Leaderbaord -->
                    <ins class="adPushupAds" data-adpControl="nuoc1" data-ver="2" data-siteId="37780" data-ac="PHNjcmlwdCBhc3luYyBzcmM9Ii8vcGFnZWFkMi5nb29nbGVzeW5kaWNhdGlvbi5jb20vcGFnZWFkL2pzL2Fkc2J5Z29vZ2xlLmpzIj48L3NjcmlwdD4KPCEtLSBDTV9KVFBfTGVhZGVyYmFvcmQgLS0+CjxpbnMgY2xhc3M9ImFkc2J5Z29vZ2xlIgogICAgIHN0eWxlPSJkaXNwbGF5OmJsb2NrIgogICAgIGRhdGEtYWQtY2xpZW50PSJjYS1wdWItNDY5OTg1ODU0OTAyMzM4MiIKICAgICBkYXRhLWFkLXNsb3Q9IjkyMDE5MDE5MTUiCiAgICAgZGF0YS1hZC1mb3JtYXQ9ImF1dG8iCiAgICAgZGF0YS1mdWxsLXdpZHRoLXJlc3BvbnNpdmU9InRydWUiPjwvaW5zPgo8c2NyaXB0PgooYWRzYnlnb29nbGUgPSB3aW5kb3cuYWRzYnlnb29nbGUgfHwgW10pLnB1c2goe30pOwo8L3NjcmlwdD4="></ins>
                    <script data-cfasync="false" type="text/javascript">
                        (function(w, d) {
                            for (var i = 0, j = d.getElementsByTagName("ins"), k = j[i]; i < j.length; k = j[++i]) {
                                if (k.className == "adPushupAds" && k.getAttribute("data-push") != "1") {
                                    ((w.adpushup = w.adpushup || {}).control = (w.adpushup.control || [])).push(k);
                                    k.setAttribute("data-push", "1");
                                }
                            }
                        })(window, document);
                    </script>
                </div>
                <div class="onlycontentinner">
                    <div id="city">
                        <table>
                            <tr>
                                <td>
                                    <div id="bottomnextup">
                                        <a class="next" href="#">next &rarr;</a>
                                        <!--
<a class="next" href="java-what-where-and-why">&lt;&lt;prev</a>-->
                                    </div>
                                    <h1 class="h1">C Programming Language Tutorial</h1>
                                    <a href="#" target="_blank">

                                    </a>
                                    <!--<img src="https://static.comcod.com/cpages/images/c-programming.png" alt="C Programming Tutorial" style="float:right;padding-left:15px"/>-->
                                    <p>
                                        <strong>C language</strong> Tutorial with programming approach for beginners and professionals, helps you to understand the C language tutorial easily. Our C tutorial explains each topic with programs.
                                    </p>
                                    <p>{{msg}}</p>
                                    <p>C programming is considered as the base for other programming languages, that is why it is known as mother language.</p>
                                    <p>It can be defined by the following ways:</p>
                                    <ol>
                                        <li>Mother language</li>
                                        <li>System programming language</li>
                                        <li>Procedure-oriented programming language</li>
                                        <li>Structured programming language</li>
                                        <li>Mid-level programming language</li>
                                    </ol>
                                    <hr/>
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- CM_JTP_WTC_Responsive -->
                                    <ins class="adsbygoogle cm_jtp_wtc_responsive" style="display:inline-block" data-ad-client="ca-pub-4699858549023382" data-ad-slot="6746133113"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                    <h2 class="h2">1) C as a mother language</h2>
                                    <p>
                                        C language is considered as the mother language of all the modern programming languages because <strong>most of the compilers, JVMs, Kernels, etc. are written in C language</strong> , and most of the programming
                                        languages follow C syntax, for example, C++, Java, C#, etc.
                                    </p>
                                    <p>
                                        It provides the core concepts like the <a href="c-array">array</a> , <a href="c-strings">strings</a> , <a href="functions-in-c">functions</a> , <a href="file-handling-in-c">file handling</a> , etc. that are being
                                        used in many languages like <a href="cpp-tutorial">C++</a> , <a href="java-tutorial">Java</a> , <a href="c-sharp-tutorial">C#</a> , etc.
                                    </p>
                                    <hr/>
                                    <h2 class="h2">2) C as a system programming language</h2>
                                    <p>
                                        A system programming language is used to create system software. C language is a system programming language because it <strong>can be used to do low-level programming (for example driver and kernel)</strong> .
                                        It is generally used to create hardware devices, OS, drivers, kernels, etc. For example, Linux kernel is written in C.
                                    </p>
                                    <p>It can't be used for internet programming like Java, .Net, PHP, etc.</p>
                                    <hr/>
                                    <h2 class="h2">3) C as a procedural language</h2>
                                    <p>
                                        A procedure is known as a function, method, routine, subroutine, etc. A procedural language <strong>specifies a series of steps for the program to solve the problem</strong> .
                                    </p>
                                    <p>A procedural language breaks the program into functions, data structures, etc.</p>
                                    <p>C is a procedural language. In C, variables and function prototypes must be declared before being used.</p>
                                    <hr/>
                                    <h2 class="h2">4) C as a structured programming language</h2>
                                    <p>
                                        A structured programming language is a subset of the procedural language. <strong>Structure means to break a program into parts or blocks</strong> so that it may be easy to understand.
                                    </p>
                                    <p>In the C language, we break the program into parts using functions. It makes the program easier to understand and modify.</p>
                                    <hr/>
                                    <h2 class="h2">5) C as a mid-level programming language</h2>
                                    <p>
                                        C is considered as a middle-level language because it <strong>supports the feature of both low-level and high-level languages</strong> . C language program is converted into assembly code, it supports pointer arithmetic
                                        (low-level), but it is machine independent (a feature of high-level).
                                    </p>
                                    <p>
                                        A <strong>Low-level language</strong> is specific to one machine, i.e., machine dependent. It is machine dependent, fast to run. But it is not easy to understand.
                                    </p>
                                    <p>
                                        A <strong>High-Level language</strong> is not specific to one machine, i.e., machine independent. It is easy to understand.
                                    </p>
                                    <hr/>
                                    <h2 class="h2">C Program</h2>
                                    <p>In this tutorial, all C programs are given with C compiler so that you can quickly change the C program code.</p>
                                    <p>File: main.c</p>
                                    <div class="codeblock">
                                        <textarea name="code" class="Cpp">
                                                #include <stdio.h>int main() {
printf("Hello C Programming\n");
return 0;
}

                                            </textarea>
                                    </div>
                                    <!--<span class="testit"><a href="https://compiler.comcod.com/c/test.jsp?filename=main" target="_blank">Test it Now</a></span>-->
                                    <p>A detailed description of above program is given in next chapters.</p>
                                    <br>
                                    <br/>
                                    <div class="mobilemenu" style="clear:both">
                                        <ins class="adPushupAds" data-adpControl="jrfe7" data-ver="2" data-siteId="37780" data-ac="PHNjcmlwdCBhc3luYyBzcmM9Ii8vcGFnZWFkMi5nb29nbGVzeW5kaWNhdGlvbi5jb20vcGFnZWFkL2pzL2Fkc2J5Z29vZ2xlLmpzIj48L3NjcmlwdD4KPCEtLSByZXNwb25zaXZlbW9iaWxlZm9vdGVyIC0tPgo8aW5zIGNsYXNzPSJhZHNieWdvb2dsZSIKICAgICBzdHlsZT0iZGlzcGxheTpibG9jayIKICAgICBkYXRhLWFkLWNsaWVudD0iY2EtcHViLTQ2OTk4NTg1NDkwMjMzODIiCiAgICAgZGF0YS1hZC1zbG90PSI4MjIyODY2MzE4IgogICAgIGRhdGEtYWQtZm9ybWF0PSJhdXRvIgogICAgIGRhdGEtZnVsbC13aWR0aC1yZXNwb25zaXZlPSJ0cnVlIj48L2lucz4KPHNjcmlwdD4KKGFkc2J5Z29vZ2xlID0gd2luZG93LmFkc2J5Z29vZ2xlIHx8IFtdKS5wdXNoKHt9KTsKPC9zY3JpcHQ+"></ins>
                                        <script data-cfasync="false" type="text/javascript">
                                            (function(w, d) {
                                                for (var i = 0, j = d.getElementsByTagName("ins"), k = j[i]; i < j.length; k = j[++i]) {
                                                    if (k.className == "adPushupAds" && k.getAttribute("data-push") != "1") {
                                                        ((w.adpushup = w.adpushup || {}).control = (w.adpushup.control || [])).push(k);
                                                        k.setAttribute("data-push", "1");
                                                    }
                                                }
                                            })(window, document);
                                        </script>
                                    </div>
                    </div>
                    <div id="right">
                        <ins class="adPushupAds" data-adpControl="am3c1" data-ver="2" data-siteId="37780" data-ac="PHNjcmlwdCBhc3luYyBzcmM9Ii8vcGFnZWFkMi5nb29nbGVzeW5kaWNhdGlvbi5jb20vcGFnZWFkL2pzL2Fkc2J5Z29vZ2xlLmpzIj48L3NjcmlwdD4KPCEtLSBuZXdyaWdodCAtLT4KPGlucyBjbGFzcz0iYWRzYnlnb29nbGUiCiAgICAgc3R5bGU9ImRpc3BsYXk6YmxvY2siCiAgICAgZGF0YS1hZC1jbGllbnQ9ImNhLXB1Yi00Njk5ODU4NTQ5MDIzMzgyIgogICAgIGRhdGEtYWQtc2xvdD0iNjAzNDkxMjU0MSIKICAgICBkYXRhLWFkLWZvcm1hdD0iYXV0byIKICAgICBkYXRhLWZ1bGwtd2lkdGgtcmVzcG9uc2l2ZT0idHJ1ZSI+PC9pbnM+CjxzY3JpcHQ+CihhZHNieWdvb2dsZSA9IHdpbmRvdy5hZHNieWdvb2dsZSB8fCBbXSkucHVzaCh7fSk7Cjwvc2NyaXB0Pg=="></ins>

                        <ins class="adPushupAds" data-adpControl="am3c1" data-ver="2" data-siteId="37780" data-ac="PHNjcmlwdCBhc3luYyBzcmM9Ii8vcGFnZWFkMi5nb29nbGVzeW5kaWNhdGlvbi5jb20vcGFnZWFkL2pzL2Fkc2J5Z29vZ2xlLmpzIj48L3NjcmlwdD4KPCEtLSBuZXdyaWdodCAtLT4KPGlucyBjbGFzcz0iYWRzYnlnb29nbGUiCiAgICAgc3R5bGU9ImRpc3BsYXk6YmxvY2siCiAgICAgZGF0YS1hZC1jbGllbnQ9ImNhLXB1Yi00Njk5ODU4NTQ5MDIzMzgyIgogICAgIGRhdGEtYWQtc2xvdD0iNjAzNDkxMjU0MSIKICAgICBkYXRhLWFkLWZvcm1hdD0iYXV0byIKICAgICBkYXRhLWZ1bGwtd2lkdGgtcmVzcG9uc2l2ZT0idHJ1ZSI+PC9pbnM+CjxzY3JpcHQ+CihhZHNieWdvb2dsZSA9IHdpbmRvdy5hZHNieWdvb2dsZSB8fCBbXSkucHVzaCh7fSk7Cjwvc2NyaXB0Pg=="></ins>
                    </div>
                    <div class="right1024" style="float:left;margin-left:10px;margin-top:120px;">
                        <!-- right1024only -->
                        <ins class="adPushupAds" data-adpControl="6d5qg" data-ver="2" data-siteId="37780" data-ac="PHNjcmlwdCBhc3luYyBzcmM9Ii8vcGFnZWFkMi5nb29nbGVzeW5kaWNhdGlvbi5jb20vcGFnZWFkL2pzL2Fkc2J5Z29vZ2xlLmpzIj48L3NjcmlwdD4KPCEtLSByaWdodDEwMjRvbmx5IC0tPgo8aW5zIGNsYXNzPSJhZHNieWdvb2dsZSIKICAgICBzdHlsZT0iZGlzcGxheTppbmxpbmUtYmxvY2s7d2lkdGg6MTIwcHg7aGVpZ2h0OjYwMHB4IgogICAgIGRhdGEtYWQtY2xpZW50PSJjYS1wdWItNDY5OTg1ODU0OTAyMzM4MiIKICAgICBkYXRhLWFkLXNsb3Q9IjIxODAxMTg3MTYiPjwvaW5zPgo8c2NyaXB0PgooYWRzYnlnb29nbGUgPSB3aW5kb3cuYWRzYnlnb29nbGUgfHwgW10pLnB1c2goe30pOwo8L3NjcmlwdD4K"></ins>

                        <br/>
                        <br/>
                        <ins class="adPushupAds" data-adpControl="6d5qg" data-ver="2" data-siteId="37780" data-ac="PHNjcmlwdCBhc3luYyBzcmM9Ii8vcGFnZWFkMi5nb29nbGVzeW5kaWNhdGlvbi5jb20vcGFnZWFkL2pzL2Fkc2J5Z29vZ2xlLmpzIj48L3NjcmlwdD4KPCEtLSByaWdodDEwMjRvbmx5IC0tPgo8aW5zIGNsYXNzPSJhZHNieWdvb2dsZSIKICAgICBzdHlsZT0iZGlzcGxheTppbmxpbmUtYmxvY2s7d2lkdGg6MTIwcHg7aGVpZ2h0OjYwMHB4IgogICAgIGRhdGEtYWQtY2xpZW50PSJjYS1wdWItNDY5OTg1ODU0OTAyMzM4MiIKICAgICBkYXRhLWFkLXNsb3Q9IjIxODAxMTg3MTYiPjwvaW5zPgo8c2NyaXB0PgooYWRzYnlnb29nbGUgPSB3aW5kb3cuYWRzYnlnb29nbGUgfHwgW10pLnB1c2goe30pOwo8L3NjcmlwdD4K"></ins>

                    </div>
                    <br/>
                    <div id="footer" style="clear:both;width:100%">
                        <!--<div style="width:100%;float:center;margin-top:-20px;color:white;background-image: linear-gradient(145deg,#90715c,#523b1f);line-height:28px;"> <h2 style="padding:60px 0px 0px 20px">Summer Training</h2> <p style="padding:0px 20px 60px 20px">comcod offers <strong>Summer Internship Training</strong> on Java, PHP, .Net, Hadoop, Data Analytics, R Programming, SAP, Android, Python, Oracle, Seleninum, Linux, C++ and many more technologies in Delhi/NCR, India. For more visit <a style="color:white" href="https://training.comcod.com"><img src="https://static.comcod.com/images/linkglobe12.png" alt="comcod training"/>training.comcod.com</a> <br>Course Fee: &#8377; 6000 Only<br>Duration: 6 Week </p></div>-->
                        <div id="bot-root"></div>
                    </div>

                    
                </div>

                
            </div>
          
            </div>
            
</body>

</html>