<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/login.css">
    <title>Job Portal</title>
</head>
<body>
    <h2>{{message}}</h2>
<div class="container" id="container">
	
	<div class="form-container sign-in-container">
		<form action="/add_job" method="post">
			<h1>Add Job</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social"><i class="fa fa-google-plus"></i></a>
				<a href="#" class="social"><i class="fa fa-linkedin"></i></a>
			</div>
			<span>or use your account</span>
			<p>{{message}}</p>
			<input type="file" placeholder="logo upload" name="file" required/>
			<input type="text" placeholder="Job Name" name ="job_name" required/>
			<input type="text" placeholder="job_link" name ="job_link" required/>
			<button><a href="/">Home</a></button>
			<button>Add jobs</button>

		</form>
	</div>
</div>


</body>

</html>